.fond {
  background-color: hsl(76, 89%, 63%);
  border-bottom-right-radius: 50px;
  max-width: 180px;
  max-height: 600px;
  border: 1px solid black;
  padding: 10px;
}

img {
  max-width: 200px;
  max-height: 100px;
  border-bottom-right-radius: 40px;
}
h1 {
  font-size: 15px;
  color: hsla(76, 72%, 11%);
  font-family: Arial, Helvetica, sans-serif;
}
