.fond {
  background-color: hsl(76, 89%, 63%);
  border-bottom-right-radius: 100px;
  max-width: 250px;
  max-height: 700px;
  border: 1px solid black;
}

img {
  max-width: 200px;
  max-height: 100px;
}
h1 {
  font-size: 20px;
  color: hsla(76, 72%, 11%);
}
